<template>
    <button :type="type" :disabled="disabled">
        <slot></slot>  
    </button>
</template>

<script setup>
    import { defineProps } from 'vue'

    const props = defineProps({
        type: {
            type: String,
            default: 'button'
        },
        disabled: {
            type: Boolean,
            default: false
        }
    })
</script>

<style lang="scss" scoped>

</style>